.header-content {
    display: flex;
    align-items: center;
}

.text-content {
    margin-right: 20px;
}


.img-profile {
    max-width: 100px;
    max-height: 100px;
    height: auto;
    width: auto;
    border-radius: 50%;
    margin-left: 60px;
}
